.gallery-scroll {
  max-height: 500px; /* or any height you prefer */
  overflow-y: auto;
  /* border: 1px solid #dedede; */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.modal-prev,
.modal-next,
.modal-close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1060;
}

.modal-prev {
  left: -50px;
}

.modal-next {
  right: -50px;
}

.modal-close {
  top: -18px;
  right: -40px;
}
