/* Header Section */
.header-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.carousel-title {
  background: #0056b3;
  color: white;
  padding: 10px 20px;
  /* font-weight: semibold; */
  border-radius: 5px;
}

.grey-line {
  width: 20%;
  height: 2px;
  background: grey;
  /* margin: 0 10px; */
}

/* Event Cards */
.event-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.event-card {
  background: white;
  padding: 4px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 45%;
}

.info-heading {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 0;
}

.city-name {
  font-size: 18px;
  color: #d9534f;
  font-weight: 300;
}

.event-time {
  font-size: 18px;
  color: #5cb85c;
  font-weight: 300;
}

/* Carousel Controls */
.carousel-control-prev,
.carousel-control-next {
  background: #0056b3;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
